:root {
  --fit-green: #d0fd3e;
  --light-gray: #505052;
  --dark-gray: #1c1c1e;
  --less-light-gray: #2c2c2e;
  --almost-white: #faf8f7;
  --off-white: #d9d9d9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
  min-width: 463px;
}

body {
  background-color: var(--dark-gray);
  color: var(--almost-white);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem 1rem 1.5rem;
  background-color: var(--less-light-gray);
  min-width: 463px;
}

nav .navbar-left img {
  width: 100px;
}
nav .navbar-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.navbar-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  height: 60px;
  color: var(--dark-grayish-blue);
}

.navbar-right ul li {
  list-style: none;
}

nav .navbar-right .header--download-buttons-container {
  display: flex;
  gap: 2rem;
}

nav .navbar-right .header--download-buttons-container img {
  width: 100px;
}

.main-onboarding {
    width: 100%;
}

.main-onboarding .main-onboarding--container {
    height: auto;
    display: grid;
    grid-template-rows: auto auto auto auto;
    gap: 3rem;
    place-items: center;
    padding: 4rem;

}

.main-onboarding .main-onboarding--container h3 {
    font-weight: 600;
    font-size: 2.2rem;
    text-align: center;
}

.main-onboarding .main-onboarding--container p {
    font-weight: 400;
    font-size: 1.2rem;
    text-align: center;
}

.main-onboarding .main-onboarding--container .main-onboarding--buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.main-onboarding .main-onboarding--container .main-onboarding--buttons .start-button{
    padding: 1rem 2.2rem;
    width: auto;
    height: auto;
    background-color: var(--fit-green);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--dark-gray);
}


.main-onboarding .main-onboarding--container .main-onboarding--buttons .start-button:hover{
    background-color: var(--less-light-gray);
    color: var(--fit-green);
}

.main-onboarding .main-onboarding--container .main-onboarding--buttons .watch-video-button{
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 0.85rem 1.5rem;
    width: auto;
    height: auto;
    outline: 1px solid var(--fit-green);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;

}

.main-onboarding .main-onboarding--container .main-onboarding--buttons .watch-video-button img{
    width: 1.5rem;
}

.main-onboarding .main-onboarding--container .green {
    color: var(--fit-green);
}

.main-onboarding .main-onboarding--container .login-image {
    width: 350px;
}

.main-users {
    width: 100%;
    padding: 5rem;
    background-color: var(--less-light-gray);
    background-image: url(./assets/img/icons-01-01.png);
    background-repeat: repeat;
    background-size: 100%;
}

.main-users .main-users--container, .main-features .main-features--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.main-users .main-users--container h3, 
.main-features .main-features--container h3{
    font-weight: 600;
    font-size: 2.2rem;
    text-align: center;
}

.main-users .main-users--container .main-users--words {
    display: grid;
    grid-template-rows: auto auto auto;
    place-items: center;
    gap: 4rem;
}

.main-users .main-users--container .main-users--words .words-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1.5rem;
    padding: 1rem 2.5rem 2rem;
    width: 18rem;
    border:none;
    background-color: var(--light-gray);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    text-decoration: none;

}

.main-users .main-users--container .main-users--words .words-box p:nth-child(2) {
    text-align: justify;
    font-weight: 400;
    line-height: normal;
}

.main-users .main-users--container .main-users--words .words-box p:nth-child(3) {
    font-weight: 700;
    line-height: normal;
    font-size: 1.1rem;
}

.main-users .main-users--container .main-users--words .words-box .icon,
.main-features .main-features--container .main-features--pool .feed-and-diff .feature-box .icon {
    width: 3rem;
}

.main-features {
    width: 100%;
    padding: 5rem;
}

.main-features .main-features--container h3 > span {
    color: var(--fit-green);
}

.main-features .main-features--container > p {
    text-align: center;
}

.main-features .main-features--container .main-features--pool {
    display: grid;
    grid-template-rows: auto auto auto;
    place-items: center;
    gap: 2rem;
}

.main-features .main-features--container .main-features--pool .feed-and-diff,
.main-features .main-features--container .main-features--pool .trainers-and-history {
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 2rem;
}

.main-features .main-features--container .main-features--pool .feed-and-diff .feature-box,
.main-features .main-features--container .main-features--pool .trainers-and-history .feature-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:0.5rem;
    padding: 0.5rem 1.2rem;
    width: 19rem;
    height: 12rem;
    border:none;
    background-color: var(--light-gray);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    text-decoration: none;
}

.main-features .main-features--container .main-features--pool .feed-and-diff .feature-box:nth-child(2) p,
.main-features .main-features--container .main-features--pool .trainers-and-history .feature-box:nth-child(2) p{
    margin-bottom: 1.3rem;
   
}

.main-features .main-features--container .main-features--pool .feed-and-diff .feature-box .icon, 
.main-features .main-features--container .main-features--pool .trainers-and-history .feature-box .icon{
    width: 2rem;
}

.main-features .main-features--container .main-features--pool .feed-and-diff .feature-box p, 
.main-features .main-features--container .main-features--pool .trainers-and-history .feature-box p{
    font-weight: 400;
    font-size: 0.9rem;
}

.main-features .main-features--container .main-features--pool picture img {
    width: 200px;
    border-radius: 1.5rem;
}



@media (max-width: 1279px) {
    .navbar-right ul {
        visibility: hidden;
    }
}